Вопрос 1. У какого фильма из списка самый большой бюджет?

In [3]:
import pandas as pd
data = pd.read_csv('/Users/tatiana/Downloads/movie_bd_v5.csv')
data_1 = data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)
data_1.head(1)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Name: budget, dtype: int64

Вопрос 2. Какой из фильмов самый длительный (в минутах)?

In [4]:
data_2 = data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)
data_2.head(1)

original_title
Gods and Generals    214
Name: runtime, dtype: int64

Вопрос 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
data_3 = data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)
data_3.tail(1)

original_title
Winnie the Pooh    63
Name: runtime, dtype: int64

Вопрос 4. Какова средняя длительность фильмов?

In [18]:
data_4 = data.runtime.mean()
round(data_4)

110

Вопрос 5. Каково медианное значение длительности фильмов?

In [19]:
data_5 = data.runtime.median()
round(data_5)

107

Вопрос 6. Какой фильм самый прибыльный?

In [24]:
data['profit'] = data['revenue'] - data['budget']
data[data.profit==data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

Вопрос 7. Какой фильм самый убыточный?

In [25]:
data['profit'] = data['revenue'] - data['budget']
data[data.profit==data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

Вопрос 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [27]:
data['profit'] = data['revenue'] > data['budget']
data['profit'].value_counts()

True     1478
False     411
Name: profit, dtype: int64

Вопрос 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
data['profit'] = data['revenue'] - data['budget']
film_2008 = data[data.release_year==2008]
film_2008[(film_2008.profit==film_2008.profit.max())].original_title

599    The Dark Knight
Name: original_title, dtype: object

Вопрос 10. Самый убыточный фильм за период с 2012 по 2014 годы (включительно)?

In [29]:
data['profit'] = data['revenue'] - data['budget']
films_2012_2014 = data[data.release_year.between(2012,2014)]
films_2012_2014[(films_2012_2014.profit==films_2012_2014.profit.min())].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

Вопрос 11. Какого жанра фильмов больше всего?

In [31]:
data_11=data.copy()
data_11['genres'] = data_11['genres'].apply(lambda x: x.split('|'))
data_11 = data_11.explode('genres')
data_11['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

Вопрос 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
data['profit'] = data['revenue']-data['budget']
profit_film = data[data.profit > 0].copy() 
profit_film.genres = profit_film.genres.str.split('|')
profit_genres = profit_film.explode('genres').genres

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

Вопрос 13. У какого режиссёра самые большие суммарные кассовые сборы?

In [35]:
data_by_director = data.copy()
data_by_director.director = data_by_director\
    .director.apply(lambda s: str(s).split("|"))
data_by_director = data_by_director.explode("director")
data_by_director = data_by_director\
    .groupby("director").revenue.sum()\
    .sort_values(ascending=False)\
    .index[0]
data_by_director

'Peter Jackson'

Вопрос 14. Какой режиссер снял больше всего фильмов в стиле Action?

In [36]:
data_14 = data.copy()
data_14['director'] = data_14['director'].str.split('|')
data_14 = data_14.explode('director')
data_14['genres'] = data_14['genres'].str.split('|')
data_14 = data_14.explode('genres')
data_14[data_14['genres'] == 'Action'].director.value_counts().sort_values(ascending=False)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Ron Shelton           1
John Luessenhop       1
Jan de Bont           1
Adam Wingard          1
Eli Roth              1
Name: director, Length: 364, dtype: int64

Вопрос 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
data_15 = data[data['release_year'] == 2012]
data_15.explode('cast').groupby(by='cast').sum().sort_values(by='revenue', ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit
cast,,,,,,
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson,220000000,1519557910,143,7.3,2012,1299557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris,200000000,1108561013,143,6.8,2012,908561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy,250000000,1081041287,165,7.5,2012,831041287
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett,250000000,1017003568,169,6.9,2012,767003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott,95000000,877244782,88,6.2,2012,782244782
...,...,...,...,...,...,...
Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins,60000000,8106475,104,6.1,2012,-51893525
Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton,20500000,6063556,109,4.8,2012,-14436444
Bruce Willis|Josh Duhamel|Rosario Dawson|Vincent D'Onofrio|50 Cent,20000000,4636169,97,5.7,2012,-15363831
Jason Bateman|Hope Davis|Frank Grillo|Paula Patton|Michael Nyqvist,10000000,3428048,115,6.7,2012,-6571952
Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gayle|Danny Huston,35000000,2106557,96,5.1,2012,-32893443

Вопрос 16. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [54]:
data_16 = pd.read_csv('/Users/tatiana/Downloads/movie_bd_v5.csv')
data_16['cast']=data_16.cast.map(lambda x: x.split('|'))
data_16=data_16.explode('cast')
data_16[data_16['budget']>data_16['budget'].mean()].groupby('cast')[['original_title']].count(
).sort_values(by='original_title', ascending=False)

                         original_title
cast
Matt Damon                           18
Adam Sandler                         17
Angelina Jolie                       16
Tom Cruise                           15
Eddie Murphy                         15
...                                 ...
Jennifer Hudson                       1
Jennifer Jason Leigh                  1
Jennifer Saunders                     1
Jennifer Tilly                        1
Ã“lafur Darri Ã“lafsson               1

[1505 rows x 1 columns]

Вопрос 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [59]:
data_17 = data.copy()
data_17[data_17.cast.str.contains('Nicolas Cage', na=False)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
22,tt2126355,110000000,470490832,San Andreas,"['Nicolas Cage', 'Kristen Bell', 'Bill Nighy',...",Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,5/27/2015,6.1,2015,360490832

Вопрос 18. Самый убыточный фильм от Paramount Pictures?

In [63]:
data_18 = data.copy()
data_18['profit'] = data['revenue'] - data['budget']
data_18= data[data['production_companies'].str.contains('Paramount Pictures')]
data_18.groupby('original_title').profit.sum().sort_values(ascending=False)

original_title
Transformers: Dark of the Moon                        928746996
Transformers: Revenge of the Fallen                   686297228
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers                                          559709780
Mission: Impossible - Ghost Protocol                  549713380
                                                        ...
Twisted                                               -24805000
Alfie                                                 -46604061
Next                                                  -51788987
Timeline                                              -60519261
K-19: The Widowmaker                                  -64831034
Name: profit, Length: 122, dtype: int64

Вопрос 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [66]:
data_19 = pd.read_csv('/Users/tatiana/Downloads/movie_bd_v5.csv')
data_19 = data_19.groupby(['release_year']).revenue.sum().sort_values(ascending=False).index[0]
data_19

2015

Вопрос 20. Какой самый прибыльный год для студии Warner Bros?

In [69]:
data['profit'] = data['revenue'] - data['budget']
data_20 = data[data['production_companies'].str.contains('Warner Bros')]
data_20.groupby('release_year').profit.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

Вопрос 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [71]:
data = pd.read_csv('/Users/tatiana/Downloads/movie_bd_v5.csv')
data.release_date = pd.to_datetime(data.release_date)
data[data.release_date.dt.month.isin([9])].shape[0]

227

Вопрос 22. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

In [73]:
data.release_date = pd.to_datetime(data.release_date)
data[data.release_date.dt.month.isin([6,7,8])].shape[0]

450

Вопрос 23. Для какого режиссера зима — самое продуктивное время года?

In [77]:
data = pd.read_csv('/Users/tatiana/Downloads/movie_bd_v5.csv')
data['director'] = data['director'].apply(lambda x:x.split('|'))
data.release_date = data.release_date.apply(lambda x:x.split('/'))
data['month'] = data['release_date'].apply(lambda x:x[0])
pivot = data.loc[data['month'].isin([12, 1, 2])]
pivot['director'].value_counts().head(1)

Series([], Name: director, dtype: int64)

Вопрос 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?

In [78]:
data['char_title_count'] = data['original_title'].apply(lambda x: len(x.replace(" ", " ")))
data.groupby('production_companies').char_title_count.mean().idxmax()

'Twentieth Century Fox Film Corporation|Four By Two Productions'

Вопрос 25. Описания фильмов какой студии в среднем самые длинные по количеству слов?

In [80]:
data_25 = data.copy()
data_25['overview_words_length'] = data_25.overview.map(lambda x: len(x.split(' ')))
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')
data_25.groupby('production_companies')['overview_words_length'].mean(
).sort_values(ascending=False).index[0]

'Midnight Picture Show'

Вопрос 26. Какие фильмы входят в один процент лучших по рейтингу?

In [81]:
data.original_title[data.vote_average.quantile(.99) < data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

Вопрос 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [86]:
import itertools as it
import pandas as pd
data = pd.read_csv('/Users/tatiana/Downloads/movie_bd_v5.csv')
data['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
print('размерность data до explode',data.shape,'\n')
data = data.explode('cast_comb')
print('размерность data после explode',data.shape,'\n')
data.cast_comb.value_counts()

размерность data до explode (1889, 15)

размерность data после explode (18869, 15)

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
                                      ..
(Damian Lewis, Morgan Freeman)         1
(Malcolm McDowell, Mark Walton)        1
(Ethan Hawke, Paul Freeman)            1
(Donnie Wahlberg, Tyrese Gibson)       1
(Rihanna, Tadanobu Asano)              1
Name: cast_comb, Length: 17943, dtype: int64